.vscode/
methods_bayesian.R
.nfs*

## SIMULATIONS
simulations/datasets_0.2/
simulations/datasets_0.8/
simulations/direct_effects_bayesian*

### direct effects
simulations/direct_effects/*
!simulations/direct_effects/*boot*

simulations/direct_effects/all_data_bootstrapped_ATE_0.2/
simulations/direct_effects/all_data_bootstrapped_ATE_0.8/
simulations/direct_effects/impute_and_stabilize_and_decompose_bootstrapped_ATE_0.2/
simulations/direct_effects/impute_and_stabilize_and_decompose_bootstrapped_ATE_0.8/
simulations/direct_effects/impute_and_stabilize_bootstrapped_ATE_0.2/
simulations/direct_effects/impute_and_stabilize_bootstrapped_ATE_0.8/
simulations/direct_effects/stabilize_bootstrapped_ATE_0.2/
simulations/direct_effects/stabilize_bootstrapped_ATE_0.8/
simulations/direct_effects/impute_bootstrapped_ATE_0.2/
simulations/direct_effects/impute_bootstrapped_ATE_0.8/
simulations/direct_effects/logs/
simulations/direct_effects/observed_C_bootstrapped_ATE_0.2/
simulations/direct_effects/observed_C_bootstrapped_ATE_0.8/
simulations/direct_effects/oracle_bootstrapped_ATE_0.2/
simulations/direct_effects/oracle_bootstrapped_ATE_0.8/
simulations/direct_effects/random_split_and_nmf_bootstrapped_ATE_0.2/
simulations/direct_effects/random_split_and_nmf_bootstrapped_ATE_0.8/

simulations/direct_effects/random_split*smallsplit*
simulations/direct_effects/impute_and_stabilize_and_decompose*

### indirect effects
simulations/indirect_effects/all_data/*
!simulations/indirect_effects/all_data/*.csv

simulations/indirect_effects/impute/*
!simulations/indirect_effects/impute/*.csv

simulations/indirect_effects/impute_and_stabilize/*
!simulations/indirect_effects/impute_and_stabilize/*.csv

simulations/indirect_effects/random_split_and_nmf/*
!simulations/indirect_effects/random_split_and_nmf/*.csv

simulations/indirect_effects/stabilize/*
!simulations/indirect_effects/stabilize/*.csv

simulations/indirect_effects/logs/


## APPLICATION
application/*.csv
application/application_based_simulations_BOA.qmd
application/application_based_simulations_OA.qmd
application/application_based_simulations_figures/*OA*
application/application_based_simulations_figures/*untreated*
application/application_based_simulations_figures/*BOA*
application/application_based_simulations_figures/BICs*
application/application_tests/
application/logs/
application/application_tests.qmd
application/choosing_rank_eso.qmd
application/choosing_rank_lhcc.qmd